{{define "subject"}}Welcome to Greenlight!{{end}}

{{define "plainBody"}}
Hi,

Thanks for signing up for a Greenlight account. We'ra excited to have you on board!

For future reference, your user ID number is {{.ID}}.

Thanks,

Then Greenlight Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html;chatset=UTF-8" />
</head>

<body>
  <p>Hi,</p>
  <p>Thanks for signing up for a Greenlight account. We'ra excited to have you on board!</p>
  <p>For future reference, your user ID number is {{.ID}}.</p>
  <p>Thanks,</p>
  <p>Then Greenlight Team</p>
</body>
</html>
{{end}}
